.loginWrapper{
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 100vh;
}
// .container.shadow {
// background-image: url('/assets/img/loginbg.png');
// background-repeat: no-repeat;
//     background-size: cover;
//     height: 100%;
//     background-color: white;
// }
input.form-control.ng-untouched.ng-pristine.ng-invalid {
    border: none;
    border-radius: 8px;
}
.image-login img{
    width: 100%;
    border-radius: 25px 0px 0px 25px;
    padding: 30px 0px;
}

h5.login-heading {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 22px;
    color: #fff;
    margin-bottom: 4rem !important;
    position: relative;
}
h5.login-heading:after {
    content: '';
    width: 40px;
    height: 4px;
    background: #b4fc7c;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -18px;
}
label.form-check-label.rem {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #fff;
}
button.btn.btn-primary {
    width: 132px;
    height: 36px;
    font-size: 14px;
}
a.forgotpassword {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    color: #fff;
}



.form-control {
    font-size: 14px;
    list-style: none;
    padding: 8px 10px;
    border: 0px;
    border-radius: 8px;
}
.main_page {
    margin: auto;
    background: #ffffff38;
    border-radius: 25px;
    padding: 3rem 20px;
    max-width: 800px !important;
    border-bottom: 8px solid #12334f;
}
.check_div {
    display: flex;
    align-items: end;
}
p.account {
    margin-bottom: 0px;
    margin-top: 1rem;
    color: #fff;
}
a.sign_up {
    color: #b4fc7c !important;
    cursor: pointer;
    font-weight: 600;
}