.mainHeader{
    display: flex;
    justify-content: space-between;
    padding: 10px 2rem;
    align-items: center;
    width: calc(100% - 0px);
    position: sticky;
    top: 0;
    right: 0;
    z-index: 9999;
    background: linear-gradient(
        153deg
        , #12334f 16%, #101023 62%);
    border-bottom: 1px solid #b8b6b6;
    height: 80px;

    &.isFull{
        width: calc(100% - 70px);
    }
}

.headerProfile{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top center;
}


.userDropdown{
    .btn{
        padding: 0;
        border:0;
        background-color: transparent;
        box-shadow: none !important;
        &::after{
            content: none;
        }
    }
}

.dropdown_item.show {
    transform: translate3d(-128px, 40px, 0px) !important;
}
.logo_img img {
    width: 150px;
}