<div class="mainHeader shadow" id="mainHeader">

  <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="toggle()" class="pointer">menu</mat-icon> -->
<div class="logo_img">
  <img src="assets/img/Fintech STOCKS.png">
</div>
  <!-- <div class="userDropdown" *ngIf="user"  ngbDropdown #myDrop="ngbDropdown">
    <button class="btn btn-outline-primary" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">
      <img src="{{userImg(user?.image)}}" alt="" class="headerProfile"/>
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownManual">
      <button ngbDropdownItem routerLink="/profile">Profile</button>
      <button ngbDropdownItem routerLink="/auth/change-password">Change Password</button>
      <button ngbDropdownItem (click)="logout()">Logout</button>
    </div>
  </div> -->
  <div class="dropdown userDropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
      <img src="{{userImg(user?.image)}}" alt="" class="headerProfile"/>
    </button>
    <div class="dropdown-menu dropdown_item">
      <a class="dropdown-item" href="#" routerLink="/profile">Profile</a>
      <a class="dropdown-item" href="#" routerLink="/auth/change-password">Change Password</a>
      <a class="dropdown-item" (click)="logout()" *ngIf="isAccessToken">Logout</a>
      <a class="dropdown-item" (click)="logIn()" *ngIf="!isAccessToken">Login</a>
    </div>
  </div>


</div>
