












// .picsum-img-wrapper{
//     > img{
//         width: 100%;
//     }
// }

// .hero-section-slider{
//     height: 350px;
//     margin-left: 3rem;
//     border-radius: 10px;
//     background-size: cover;
//     background-image: url('/assets/img/landing.png');
//     background-repeat: no-repeat;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     animation: slider 12s ease-in infinite;
//   }
//   .hero-section-slider h2{
//     color: var(--bg-color);
//     border-bottom: 2.5px solid var(--secondary-color);
//     text-shadow: 0 3px 2px var(--secondary-color);
//     text-align: center;
//     font-size: 2.5rem;
//     font-weight: var(--bolder-font);
//   }

//   /*  ----------------------------------------------------------   */
// /* slider animation images */
// // @keyframes slider{
// //     10%{background-image: url(https://wallpaper.dog/large/20563725.jpg);}
// //     30%{background-image: url(https://cutewallpaper.org/26/best-trading-wallpaper-hd/124832313.jpg);}
// //     50%{background-image: url(https://png.pngtree.com/background/20230618/original/pngtree-minimal-trading-graph-in-3d-red-and-green-with-coins-on-picture-image_3751122.jpg);}
// //     70%{background-image: url(https://wallpaperaccess.com/thumb/1393720.jpg);}
// //     90%{background-image: url(https://e0.pxfuel.com/wallpapers/828/472/desktop-wallpaper-forex-trading-account-forex-trading-tip.jpg);}
// //     100%{background-image: url(https://e0.pxfuel.com/wallpapers/406/985/desktop-wallpaper-black-forex-page-1.jpg);}
// //   }
//   /* ------------------------------------------------------------- */

// .section1{

//     background: url(https://png.pngtree.com/background/20230621/original/pngtree-illustration-of-3d-seo-optimization-stock-trading-data-analysis-web-analytics-picture-image_3893930.jpg);
//     background-repeat: no-repeat;
//     background-size: 100%;
//     height: 650px;
// }

// .row1 {
//     background: #000000b0;
//     height: 650px;
//     align-items: center;
//     display: flex;
// }
// .row1 h1 {
//     color: #fff;
//     font-size: 75px;
//     font-weight: 600;
//     line-height: 78px;
// }
// .h1_text {
//     color: #00adff !important;
// }
// .row1 p {
//     font-size: 18px;
//     color: #fff;
//     line-height: 30px;
// }
// // .slider_img {
// //     width: 100%;
// //     height: 350px;
// //     background: #00000052;
// //     border-radius: 10px;
// // }
// .section2{
//     background:url('https://www.capco.com/-/media/CapcoMedia/Capco-2/Open-Graph-Images/JN_3522_Future_of_Energy_Trading_ETRM_open_graph.ashx');
//     height: 730px;
//     background-repeat: no-repeat;
//     background-size: 100%;
// }
// .row2 {
//     width: 100%;
//     height: 730px;
//     background: #030406d6;
// }

// .layout1 p {
//     color: #bbbbbb;
//     font-size: 20px;
//     text-align: center;
// }
// .layout1 {
//     max-width: 470px;
//     margin: auto;
// }
// .layout1 {
//     max-width: 600px;
//     margin: auto;
//     padding-top: 5rem;
// }
// .layout1 h1{
//     color: #fff;
//     font-size: 42px;
//     font-weight: 600;
//     text-align: center;
//     line-height: 50px;
//     margin-bottom: 5rem;
// }
// span.Trading_text {
//     color: #d96a0a;
// }
// .layout_box {
//     background: #12131d;
//     border-radius: 8px;
//     transition: all 0.6s;
// }
// .text_box h1 {
//     font-size: 24px;
//     color: #fff;
// }
// .text_box p {
//     color: #fff;
//     line-height: 25px;
//     margin-top: 2rem;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     -webkit-line-clamp: 3;
//     display: -webkit-box;
//     -webkit-box-orient: vertical;
// }
// .text_box2 p {
//     color: #fff;
//     text-align: center;
//     margin-bottom: 0px;
//     padding: 20px 0px;
//     background: #ffffff0f;
//     border-radius: 0px 0px 8px 8px;
// }
// .text_box {
//     padding: 0px 30px;
//     margin-bottom: 0px;
//     padding-right: 0px;
//     border-top: 15px solid #232639;
//     border-radius: 8px 8px 0px 0px;
// }
// .text_box {
//     display: flex;
//     align-items: end;
// }
// .left_class {
//     width: 100%;
//     border-right: 1px solid #232639;
//     padding-right: 10px;
//     margin-top: 2rem;
//     margin-bottom: 2rem;
// }
// p.more_icon {
//     padding: 0px 15px;
//     transform: rotate(-90deg);
//     margin-bottom: 2rem;
//     position: relative;
//     cursor: pointer;
// }

// .trade_btn {
//     border-radius: 0px !important;
//     padding: 15px 30px;
//     height: 50px;
//     border: 2px solid #00adff;
//     background: #00000052;
//     margin-top: 2rem;
// }
// p.more_icon i {
//     position: absolute;
//     right: -1px;
//     transform: rotate(45deg);
//     top: 6px;
// }

// .section3 {
//     background: #000;
// }
// .layout_box:hover {
//     margin-top: -20px;
//     transition: all 0.6s;
// }
// .heading_layout {
//     padding-top: 3rem;
//     text-align: center;
//     margin-bottom: 3rem;
 
// }
// .heading_layout p {
//     color: #bbbbbb;
//     font-size: 20px;
// }
// .heading_layout h1 {
//     color: #00adff;
//     font-size: 42px;
//     font-weight: 600;
//     margin-top: 2rem;
// }
// .right_class h1 {
//     font-size: 40px;
//     line-height: 45px;
//     font-weight: 600;
//     color: #fff;
//     max-width: 380px;
// }
// .right_class {
//     color: #fff;
//     margin-top: 4rem;
// }
// .right_class p{
//     color: #fff;
//     margin-top: 2rem;
//     margin-bottom: 2rem;
// }
// a.learn_more {
//     font-size: 16px;
//     font-weight: 600;
//     cursor: pointer;
// }
// .map_img{
//     background-image: url(/assets/img/map.png);
//     height: 350px;
//     background-size: 100%;
//     background-repeat: no-repeat;
// }
// .span_text{
// color: #00d094;
// }
// .text-h1 {
//     text-align: center;
//     max-width: 670px;
//     margin: auto;
// }

// .left_row h1 {
//     font-size: 46px;
//     color: #fff;
//     font-weight: 600;
//     line-height: 54px;
//     margin-bottom: 2rem;
// }
// .row4{
  
//     padding-top: 4rem;
//     background: #000000bd;
// }



// .section4 {
//     background-repeat: no-repeat;
//     background: url('/assets/img/back-image.jpeg');
//     background-size: 100%;
// }
// .list_text {
//     display: flex;
//     margin-bottom: 2rem;
//     background: #00000069;
//     padding: 10px 10px;
//     border-radius: 8px;
// }
// .icon-text h1 {
//     font-size: 22px !important;
//     font-weight: normal !important;
//     margin-bottom: 0px;
//     line-height: normal !important;
// }
// .icon-text p {
//     color: #999;
//     font-size: 18px;
//     line-height: 26px;
//     margin-bottom: 0px;
// }
// img.img_icoons {
//     width: 65px;
//     height: 65px;
//     border-radius: 50%;
//     object-fit: contain;
//     margin-right: 1.5rem;
// }
// .image_tading {
//     background-image: url('/assets/img/dash-preview-dark.png');
//     height: 420px;
//     background-size: contain;
//     background-repeat: no-repeat;
//     border-radius: 10px;
//     margin-top: 6rem;
//     margin-right: 3rem;
//     width: 100%;
// }
// // .image_background {
// //     width: 100%;
// //     height: 420px;
// //     background: #0000004d;
// //     border-radius: 10px;
// // }


// .section5 {
//     background: url('/assets/img/world_back.jpg');
//     height: 400px;
//     background-repeat: no-repeat;
//     background-size: 100%;
// }
// .row5 {
//     background: #000c;
//     height: 400px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
// .class_active h1 {
//     font-size: 24px;
//     color: #00d094;
//     font-weight: 600;
//     margin-bottom: 10px;
// }
// .class_active p {
//     color: #fff;
//     font-size: 15px;
//     margin-bottom: 0px;
// }
// .row_layout {
//     padding: 25px;
//     background: #ffffff14;
//     border: 3px solid #00adff;
// }
// .class_active {
//     text-align: center;
// }

// .row_layout2 {
//     max-width: 750px;
//     margin-bottom: 5rem;
// }
// .row_layout2 h1 {
//     font-size: 42px;
//     color: #fff;
//     font-weight: 600;
// }
// .row_layout2 p {
//     color: #fff;
// }
// .row6 {
//     background: #000;
//     padding-top: 5rem;
//     padding-bottom: 5rem;
// }

// .layout_boxs {
//     padding: 20px;
//     border-radius: 5px;
//     border-left: 3px solid #00d094;
//     border-bottom: 3px solid #00d094;
//     height: 160px;
// }
// .layout_boxs p {
//     color: #fff;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     -webkit-line-clamp: 3;
//     display: -webkit-box;
//     -webkit-box-orient: vertical;
// }
// .layout_boxs img {
//     width: 45px;
//     height: 45px;
//     margin-bottom: 20px;
// }