
<footer class="footer-section">
    <div class="container">
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-md-2 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Discover</h3>
                        </div>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">about</a></li>
                            <li><a href="#">services</a></li>
                            <li><a href="#">Market</a></li>
                        
                        </ul>
                    </div>
                </div>
                <div class=" col-md-2 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Resources</h3>
                        </div>
                        <ul>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Article</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Country</a></li>
                       
                        </ul>
                    </div>
                </div>
                <div class="col-md-5 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Help Center</h3>
                        </div>
                        <ul>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Terms & Condition</a></li>
                            <li><a href="#">Cookie Setting</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                       
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 mb-30">
                    <div class="footer-widget new_listfooter">
                        <div class="footer-widget-heading">
                            <h3>Company Name</h3>
                        </div>
                        <ul>
                            <li><a href="#">Lorem Ipsum is simply dummy text of the printing and dummy.</a></li>
                            <div class="footersearch">
                            <input type="text" class="input_footer" placeholder="Enter your email">
                            <mat-icon>east</mat-icon>
                            </div>                       
                        </ul>
                    </div>
                </div>
            </div>
        </div>
   
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>@ 2023 Ultraclose. All Rights Reserved</p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                       
                       <p> <i class="fa fa-instagram" aria-hidden="true"></i>
                        <i class="fa fa-facebook-official" aria-hidden="true"></i>
                        <i class="fa fa-twitter" aria-hidden="true"></i><span class="back_to">Back to top<mat-icon>north</mat-icon></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</footer>