<div class="page_header">
  <div class="container">
    <div class="mainHeader shadow" id="mainHeader">
      <div class="logo_img" >
        <img
          src="/assets/img/logo.png"
          style="cursor: pointer"
          routerLink="/"
        />
      </div>

      <div class="div_ul">
        <ul>
          <li
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Home
          </li>
          <li>Market activity</li>
          <li>Solutions</li>
          <li routerLink="/feature/plans" routerLinkActive="active">Plan</li>
          <li routerLink="/feature/about-us">About</li>
        </ul>
      </div>
      <div>
        <button class="btn btn-primary" routerLink="/auth/signup" *ngIf="!user">Sign up</button>
        <button class="btn btn-primary ml-2" routerLink="/auth/login" *ngIf="!user">Sign in</button>
        </div>
      <div class="dropdown userDropdown">
        
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          data-toggle="dropdown"
          aria-expanded="false"
        >
          <img [src]="userImg(user?.image)" alt="" class="headerProfile" *ngIf="user"/>
        </button>

        <div class="dropdown-menu dropdown_item">
          <a
            class="dropdown-item"
            href="#"
            routerLink="/feature/profile/view-profile"
            *ngIf="user"
            >Profile</a
          >
          <a
            class="dropdown-item"
            href="#"
            routerLink="/auth/change-password"
            *ngIf="user"
            >Change Password</a
          >
          <a class="dropdown-item" (click)="logout()" *ngIf="user">Logout</a>
          <a class="dropdown-item" routerLink="/auth/login" *ngIf="!user"
            >Login</a
          >
        </div>
      </div>
   
    </div>
  </div>
</div>
