.mainHeader {
  display: flex;
  justify-content: space-between;
  padding: 10px 2rem;
  align-items: center;
  width: calc(100% - 0px);
  position: sticky;
  top: 0;
  right: 0;
  z-index: 9999;
  height: 100px;
  border-left: 2px solid #ffffff36;
  border-bottom: 2px solid #ffffff36;

  &.isFull {
    width: calc(100% - 70px);
  }
}
// .mainHeader:after {
//   content: '';
//   position: absolute;
//   bottom: 0;
//   background: #ffffff36;
//   width: calc(100vw - 104px);
//   height: 2px;
//   left: 0;
// }

.page_header {
  background: linear-gradient(153deg, #091621 16%, #08151f 62%);
  position: sticky;
    top: 0px;
    z-index: 9999;
}

.headerProfile {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top center;
}


.userDropdown {
  .btn {
    padding: 0;
    border: 0;
    background-color: transparent;
    box-shadow: none !important;

    &::after {
      content: none;
    }
  }
}



.logo_img img {
  width: 150px;
}

.active {
  color: #80ed99;
}

