.main_Conditions {
    box-shadow: 0px 0px 15px -10px #000;
    padding: 2rem 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    background: linear-gradient(
153deg
, #091621 16%, #08151f 62%);
}
.heading-main {
    text-align: center;
    position: relative;
    font-weight: 600;
    font-size: 22px;
    color: #2fc0f9;
}
.heading-main:after {
    content: '';
    position: absolute;
    bottom: -5px;
    background: #80ed99;
    width: 85px;
    height: 3px;
    left: 0;
    right: 0;
    margin: auto;
}
.text_p {
    margin-top: 2rem;
}
.text_p p {
    color: #fff;
    font-size: 14px;
}