<div class="loginWrapper">
    <div class="main_page">
      <div class="row align-items-center mx-0">
        <div class="col-md-12">
          <article class="card border-0 p-3 border-top">
            <!-- <h5 class="login-heading mb-5">Sign Up</h5> -->
  
            <form [formGroup]="cardForm">
              <div class="row">
                <div class="col-md-6">
              <div class="form-group">
                  <label>Card Number</label>
                <input type="text" class="form-control" placeholder="Card Number" required formControlName="card_number" />
                </div>
              </div>
              <div class="col-md-6">
              <div class="form-group">
                <label>Card Holder Name</label>
                  <input type="text" class="form-control" placeholder="Name" required formControlName="cardHolderName" />
                  </div>
                </div>
                <div class="col-md-4">
              <div class="mb-3">
                <label>exp_month</label>
                <input   class="form-control" required formControlName="exp_month"/>
             </div>
              </div>
              <div class="col-md-4">
              <div class="mb-3">
                <div class="inputWrapper">
                    <label>exp_year</label>
                  <input  
                    class="form-control" required  formControlName="exp_year"/>
                 </div>
                </div>
              
              </div>
              <div class="col-md-4">
              <div class="mb-3">
                <div class="inputWrapper">
                    <label>cvc</label>
                  <input   class="form-control" required formControlName="cvc"/>
                 </div>
                </div>
               
              </div>
  
              <div class="col-md-12">
            
              <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary" (click)="submitcard()">
                  Continue
                </button>
              </div>
              </div>
            </div>
            </form>
          </article>
        </div>
      </div>
    </div>
  </div>
  