<div class="plan_page">
    <div class="container">
    <div class="plan_section1">
       <div class="table">
         <tr >
             <td class="table_td">
                 <h1 class="text_heading">Featured Plans</h1>
                 <p>Choose your workspace plan according to your organional plan</p>
             </td>
             <td class="back_color" >
                 <h1 class="heading_2">Free<span class="span_text">$20</span></h1>
                 <button class="btn btn-primary form-control btn2">Choos This Plan</button>
             </td>
            
         </tr>

         <tr>
             <td>
                 <h3>Number of Users</h3>
             </td>
             <td class="back_color">
                 <p class="td_row">20 Pages</p>
             </td>
             <td>
                <p class="td_row"> 600 Pages</p>
                <p class="p_text">Pages Add-ons on Demand</p>
             </td>
             <td>
                <p class="td_row">Unlimited</p>
                <p class="p_text">Pages Add-ons on Demand</p>
             </td>
         </tr>

         <tr>
            <td>
                <h3>User Per Page</h3>
            </td>
            <td class="back_color">
                <p class="td_row">5 Pages</p>
            </td>
            <td>
               <p class="td_row"> 50 Pages</p>
              
            </td>
            <td>
               <p class="td_row">Unlimited</p>
               <p class="p_text">Pages Add-ons on Demand</p>
            </td>
        </tr>

        <tr>
            <td>
                <h3>User Per Page</h3>
            </td>
            <td class="back_color img_div">
            <img src="/assets/img/done_icon.png" class="check_img">
            </td>
            <td class="img_div">
                <img src="/assets/img/done_icon.png" class="check_img">
              
            </td>
            <td class="img_div">
                <img src="/assets/img/done_icon.png" class="check_img">
            
            </td>
        </tr>
       </div>
    </div>
    </div>
</div>
