<div class="plan_page">
    <div class="container">
    <div class="plan_section1">
       <div class="table">
         <tr >
             <td class="table_td">
                 <h1 class="text_heading">Featured Plans</h1>
                 <p>Choose your workspace plan according to your organional plan</p>
             </td>
             <!-- <td class="back_color" *ngFor="let key of plansArr"> -->
                 <td class="back_color table_td" *ngFor="let key of plansArr">
                 <!-- <h1 class="heading_2">${{key.amount}}<span class="span_text">/{{key.interval}}</span></h1>
                 <button class="btn btn-primary form-control btn2" (click)="choosePlan(key.id)">Choose This Plan</button> -->
                 <h1 class="name_plan" style="text-align: center;">{{key.name | uppercase}}</h1>
                  <h1 class="heading_2" *ngIf="key.name=='free'">0</h1>
                  <h1 class="heading_2" *ngIf="key.name!='free'">${{key.amount}}<span class="span_text">/{{key.interval}}</span></h1>
                  <!-- <div class="button" ><a href="/step1?starter/" *ngIf="item.active == false" (click)="choosePlan(item._id)" class="btn btn-secondary btn-sm" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">Upgrade Plan</a></div>
                    
               <div class="button"><a *ngIf="item.active == true" [attr.disabled]="disabled" class="btn btn-secondary btn-sm" data-bs-toggle="modal"
                     >Active</a></div> -->
                  <!-- <button class="btn btn-primary form-control btn2" [disabled]="key.isActive == true || (activeplan && key.name=='free')" (click)="choosePlan(key.id)">
                    {{key.isActive == true ? 'Active' : (activeplan && key.name!='free' ? 'Upgrade Plan' : 'Choose Plan')}}
                  </button> -->
                  <button class="btn btn-primary form-control btn2" [disabled]="key.isActive == true" (click)="choosePlan(key.id)">
                    {{key.isActive == true ? 'Active' : (activeplan ? 'Upgrade Plan' : 'Choose Plan')}}
                  </button>
                 <!-- <button class="btn btn-primary form-control btn2" [disabled]="key.isPurchased && key.id==activeplan" (click)="choosePlan(key.id)">{{key.isPurchased == true && key.id==activeplan ? 'Active' : (activeplan && key.id!=activeplan ?"Upgrade Plan":'Choose Plan')}}</button> -->
             </td>
         </tr>

         <tr>
             <td>
                 <h3>Number of Users</h3>
             </td>
             <td class="back_color">
                 <p class="td_row">20 Pages</p>
             </td>
             <td>
                <p class="td_row"> 600 Pages</p>
                <p class="p_text">Pages Add-ons on Demand</p>
             </td>
             <td>
                <p class="td_row">Unlimited</p>
                <p class="p_text">Pages Add-ons on Demand</p>
             </td>
         </tr>

         <tr>
            <td>
                <h3>User Per Page</h3>
            </td>
            <td class="back_color">
                <p class="td_row">5 Pages</p>
            </td>
            <td>
               <p class="td_row"> 50 Pages</p>
              
            </td>
            <td>
               <p class="td_row">Unlimited</p>
               <p class="p_text">Pages Add-ons on Demand</p>
            </td>
        </tr>

        <tr>
            <td>
                <h3>Includes essential features to get started</h3>
            </td>
            <td class="back_color img_div">
            <img src="/assets/img/done_icon.png" class="check_img">
            </td>
            <td class="img_div">
                <img src="/assets/img/done_icon.png" class="check_img">
              
            </td>
            <td class="img_div">
                <img src="/assets/img/done_icon.png" class="check_img">
            
            </td>
        </tr>

        <tr>
            <td>
                <h3>More advanced features for increased productivity</h3>
            </td>
            <td class="back_color img_div">
            <img src="/assets/img/done_icon.png" class="check_img">
            </td>
            <td class="img_div">
                <img src="/assets/img/done_icon.png" class="check_img">
              
            </td>
            <td class="img_div">
                <img src="/assets/img/done_icon.png" class="check_img">
            
            </td>
        </tr>

        <tr>
            <td>
                <h3>Stocks & Trades</h3>
            </td>
            <td class="back_color img_div">
                <i class="fa fa-times times_close" aria-hidden="true"></i>
            </td>
            <td class="img_div">
                <img src="/assets/img/done_icon.png" class="check_img">
              
            </td>
            <td class="img_div">
                <img src="/assets/img/done_icon.png" class="check_img">
            
            </td>
        </tr>

        <tr>
            <td>
                <h3>Customizable options to meet your specific needs</h3>
            </td>
            <td class="back_color img_div">
                <i class="fa fa-times times_close" aria-hidden="true"></i>
            </td>
            <td class="img_div">
                <img src="/assets/img/done_icon.png" class="check_img">
              
            </td>
            <td class="img_div">
                <img src="/assets/img/done_icon.png" class="check_img">
            
            </td>
        </tr>

        <tr>
            <td>
                <h3>Secure data storage</h3>
            </td>
            <td class="back_color img_div">
                <i class="fa fa-times times_close" aria-hidden="true"></i>
            </td>
            <td class="img_div">
                <i class="fa fa-times times_close" aria-hidden="true"></i>
              
            </td>
            <td class="img_div">
                <img src="/assets/img/done_icon.png" class="check_img">
            
            </td>
        </tr>

        <tr>
            <td>
                <h3>Email Support</h3>
            </td>
            <td class="back_color img_div">
                <i class="fa fa-times times_close" aria-hidden="true"></i>
            </td>
            <td class="img_div">
                <i class="fa fa-times times_close" aria-hidden="true"></i>
              
            </td>
            <td class="img_div">
                <img src="/assets/img/done_icon.png" class="check_img">
            
            </td>
        </tr>

        <tr>
            <td>
                <h3>24/7 customer support</h3>
            </td>
            <td class="back_color img_div">
                <i class="fa fa-times times_close" aria-hidden="true"></i>
            </td>
            <td class="img_div">
                <i class="fa fa-times times_close" aria-hidden="true"></i>
              
            </td>
            <td class="img_div">
                <img src="/assets/img/done_icon.png" class="check_img">
            
            </td>
        </tr>

        <tr>
            <td>
                <h3>Analytics and reporting</h3>
            </td>
            <td class="back_color img_div">
                <i class="fa fa-times times_close" aria-hidden="true"></i>
            </td>
            <td class="img_div">
                <img src="/assets/img/done_icon.png" class="check_img">
              
            </td>
            <td class="img_div">
                <img src="/assets/img/done_icon.png" class="check_img">
            
            </td>
        </tr>

        <tr>
            <td>
                <h3>Account Management</h3>
            </td>
            <td class="back_color img_div">
            <img src="/assets/img/done_icon.png" class="check_img">
            </td>
            <td class="img_div">
                <img src="/assets/img/done_icon.png" class="check_img">
              
            </td>
            <td class="img_div">
                <img src="/assets/img/done_icon.png" class="check_img">
            
            </td>
        </tr>
       </div>
    </div>
    </div>
</div>
