<div class="select_chart">
    <div class="d-flex">
        <div>
            <select>
                <option value="end">End of the Day</option>
                <option value="intra">Intraday</option>
                <option value="tickers">tickers</option>
            </select>
        </div>
        <div class="mx-3">
            <select>
                <option value="end">End of the Day</option>
                <option value="intra">Intraday</option>
                <option value="tickers">tickers</option>
            </select>
        </div>
    </div>
  </div>

<div class="chart_layout">
    <canvas id="tickers">{{ perdayChart }}</canvas>
  </div>