<div class="main_footer">
    <div class="container">
        <div class="footer_border">
        <div class="footer_layout">
        <div class="row">
        <div class="col-md-2">
        <h1 class="footer_heading"> Discover</h1>
        <a href="#" class="footer_a">Home </a>
        <a href="#" class="footer_a">About </a>
        <a href="#" class="footer_a"> Service</a>
        <a href="#" class="footer_a">Market </a>
        </div>
        <div class="col-md-2">
            <h1 class="footer_heading">Resources </h1>
            <a href="#" class="footer_a"> Blog</a>
            <a href="#" class="footer_a">Article </a>
            <a href="#" class="footer_a"> News</a>
            <a href="#" class="footer_a"> Country</a>
        </div>
        <div class="col-md-5">
            <h1 class="footer_heading">Help Center </h1>
            <a href="#" class="footer_a">FAQ </a>
            <a href="#" class="footer_a">Terms & Condition </a>
            <a href="#" class="footer_a">Cookie Setting </a>
            <a href="#" class="footer_a"> Privacy Policy</a>
        </div>
        <div class="col-md-3">
            <div class="row_footer">
            <h1 class="footer_heading">Company Name </h1>
            <p class="text_footer">Lorem Ipsum is simply dummy text of the printing and dummy. </p>
            <div class="box_footer">
            <input class="input_footer" placeholder="Enter your email">
            <mat-icon>east</mat-icon>
            </div>
            </div>
        </div>
        </div>
        </div>
        </div>
        <div class="section_footer">
        
              <p>@ 2023 Ultraclose. All Rights Reserved</p>
      <div class="footer_right">
    
          <p>    <i class="fa fa-instagram" aria-hidden="true"></i>
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i> <span class="span_top ">Back to top<mat-icon>north</mat-icon></span></p>
      </div>
        </div>
    </div>
</div>
