/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "../node_modules/ngx-toastr/toastr.css";
@import "../node_modules/intl-tel-input/build/css/intlTelInput.css";
// @import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@100;200;300;400;500;600;700;800&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Kalam:wght@700&family=Merriweather+Sans:wght@300&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat+Subrayada:wght@400;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sriracha&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@100;200;300;400;500;600;700;800&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Kalam:wght@700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather+Sans:wght@300&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat+Subrayada:wght@400;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sriracha&display=swap');


.pointer{
    cursor: pointer;
}

body{
    font-family:  'Lato', sans-serif !important;
}
.mat-h1, .mat-headline, .mat-typography h1{
    font: unset;
}

element.style {
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
button.btn.btn-primary {
    border-radius: 50px;
}
.btn {
    background: #2fc0f9;
    border-radius: 26.5px;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #FFFFFF;
    padding: 8px 20px;
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn {
    /* display: inline-block; */
    font-weight: 400;
    /* text-align: center; */
    /* white-space: nowrap; */
    /* vertical-align: middle; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    /* line-height: 1.5; */
    /* border-radius: 0.25rem; */
    /* transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
}
[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}
button, select {
    /* text-transform: none; */
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font-family: sans-serif !important;
}

.mainPannel{
    &.isFull{
        .mainSidebar{
            width: 70px;
        }
        .mainContent{
            width: calc(100% - 70px);
        }
        article.sidebarNav a {
            background-color: white;
            color: #0f172a !important;
            font-size: 25px !important;
            padding: 7px 7px !important;
        }
        .mainSidebar {
            height: calc(100vh);
            position: fixed;
            transition: 1.2s;
            z-index: 9 !important;
        }
        .hidemin{
            display: none;
        }
    }
}

.inputWrapper{
    position: relative;
    > i{
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        right: 10px;
        color: #000;
        cursor: pointer;
    }
}

ngx-intl-tel-input{
    width: 100%;
    .iti{
        width: 100%;
    }
    .iti--allow-dropdown{
        > input{
            width: 100%;
            font-size: 14px;
            list-style: none;
            height: auto;
            padding: 8px 20px;
            border: 1px solid #ced4da;
            border-radius: 4px;
        }
    }
}

body{
    font-size: 14px;
}

.modal{
    z-index: 9999;
    >*{
        position: relative;
    }

    .modal-overlay{
        background-color: #000;
        opacity: .3;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top:0;
    }
}

.form-control{
    font-size:14px;
    list-style: none;
    height: auto !important;
    padding:8px 10px;
}

.btn{
    background: #2fc0f9;
    border-radius: 26.5px;
 
    border: none;
    // font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #FFFFFF;
    padding: 8px 20px;
}
// .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
//     color: #fff;
//     background-color: #CBA773;
//     border-color: #CBA773 !important;
// }
.edit-profile-input i {
    font-size: 18px;
    position: absolute;
    right: 0;
    bottom: 17px;
    background-color: white;
    color: #000;
    padding: 5px 4px !important;
    border-radius: 50px;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none !important;
}
// .listTableWapper{
//     height: calc(100vh - 225px);
// }
// .btn-primary:hover {
//     color: #fff;
//     background-color: #907e64;
//     border-color: #907e64;
// }
// a.last-back:hover {
//     color: #fff;
//     background-color: #907e64;
//     border-color: #907e64;
// }
button.btn.btn-primary:hover {
    background: #2fc0f9;
}
button.btn.btn-primary:focus {
    background: #2fc0f9 !important;
    box-shadow: none;
    color: #fff;
}
.last-back:hover {
    background: #12334f;
}
.last-back:focus {
    background: #12334f !important;
    box-shadow: none;
}
.listTable{
    thead{
        background-color: #f8fafc;
        th{
            font-weight: 600;
        }
    }

    .action{
        > *{
            font-size: 16px;
            display: inline-block;
            margin: 3px;
            cursor: pointer;
        }
    }

    tbody{
        td{
            height: 60px;
            vertical-align: middle;
        }
    }
}



.loginWrapper{
    background-image: url(assets/img/vector-trading.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    
    .card{
     
        color: #000000;
        text-decoration: none;

    background-color: #ffffff00 !important;

        .forgotpassword{
            color: #000000;
        }
    }
}

.loaderDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffffb8;
    z-index: 9999;

    mat-spinner{
        width: 50px !important;
        height: 50px !important;
        > svg{
            height: 100% !important;
            width: 100% !important;
        }
    }
}

.invalid-feedback{
    display: block;
}

.mat-icon{
    height: auto !important;
    width: auto !important;
    font-size: inherit;
}

.listHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    h2{
        font-weight: 700;
    }
}


.lhSaerchFrom{
    position: relative;
    width: 100%;
    max-width: 300px;
    display: inline-block;

    > .form-control{
        padding: 10px 30px;
        border-radius: 20px;
    }

    > .mat-icon{
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        cursor: pointer;
        font-size: 16px;

        &.search{
            left: 10px;
        }

        &.clear{
            right: 10px;
        }
    }
}


.lhBtn, .aeBtn{
    border-radius: 20px;
    padding: 10px 25px;
    display: inline-flex;
    align-items: center;
}

.aedBtn{
    text-decoration: none !important;
    cursor: pointer;
}

.addEditForm{
    height: calc(100vh - 240px);
    overflow: auto;
    align-items: flex-start;
    .required{
        &::after{
            content: "*";
            margin-left: 3px;
        }
    }
}
button.btn.btn-primary {
    border-radius: 50px;
}
.text-light {
    color: #000000 !important;
}
// .image-login {
//     background-color: #beddff;
//     border-radius: 50px 0px 0px 50px;
// }
a.last-back {
    padding: 9px 22px;
    color: white !important;
    font-weight: 400;
    border-radius: 50px;
}

// a.text-light.logo-place {
//     font-size: 55px;
//     font-family: sans-serif;
//     font-weight: 600;
//     font-style: oblique;

//     color: #529ff3c2 !important;
// }
.bg-main {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    /* box-shadow: 0px 0px 12px -10px #000; */
    border: 1px solid #dadada;
    min-height: 215px;
}
p.text {
    background-color: #2d2d2e1c;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 14px;
    color: #424242;
    height: 40px;
}
label.profile-label {
    font-size: 15px;
    font-weight: 500;
}
.dropdown-menu.country-dropdown.show {
    width: 300px;
}
select.form-control {
    border-radius: 50px !important;
}
.mat-paginator {
    background: #0f172a;
}
.profile {
    margin-top: 3rem;
}
.right_layout {
    border-left: 1px solid #fff;
}



//////////////////////######## Home ########//////////////////////

.div_ul li {
    color: #fff;
    display: inline-block;
    margin: 0px 1rem;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}
.div_ul li:hover {
    color: #80ed99;
}
.div_ul ul{
    margin-bottom: 0px;
}

//////////////////////######## Home End ########//////////////////////