<div class="main_page">
    <div class="container">
        <div class="section">
    <div class="section_1">
    <div class="layout_1">
        <h1><span class="h1_style">Scales</span> gives you more ways to make your money work harder</h1>

        <a href="#" class="a_more">Learn More <span class="span_icon"><mat-icon>north_east</mat-icon></span></a>
    </div>
    </div>
    </div>

    <div class="section_2">
        <div class="layout_2">
           <div class="flex_header">
               <h1>US Market Closed <span class="open"> (Open in 8H 5M) </span></h1>
               <a href="#" class="view_text">
                View market activity<mat-icon>arrow_forward</mat-icon>
               </a>
           </div>
           <div class="row">
               <div class="col-md-3">
                   <div class="card_layout">
    <div class="card_box">
        <h1>S&P Futures</h1>
        <p>3276.0  <span class="color_text">+18.7  </span> <span class="color_text2">(0.75%)</span></p>
    </div>
    </div>
    </div>

    <div class="col-md-3">
        <div class="card_layout">
<div class="card_box">
<h1>S&P Futures</h1>
<p>3276.0  <span class="color_text">+18.7  </span> <span class="color_text2">(0.75%)</span></p>
</div>
</div>
</div>

<div class="col-md-3">
    <div class="card_layout">
<div class="card_box">
<h1>S&P Futures</h1>
<p>3276.0  <span class="color_text">+18.7  </span> <span class="color_text2">(0.75%)</span></p>
</div>
</div>
</div>

<div class="col-md-3">
    <div class="card_layout">
<div class="card_box">
<h1>S&P Futures</h1>
<p>3276.0  <span class="color_text">+18.7  </span> <span class="color_text2">(0.75%)</span></p>
</div>
</div>
</div>
    </div>
         
        </div>
        </div>

        <div class="section_3">
            <div class="layout_3">
                
                <div class="row">
                    <div class="col-md-8">
                    <div class="left_section">
                    <div class="data_row after_1">
                        <div class="dtat_text">
                            <h1>DJI</h1>
                            <h1>Dow Jones Industrial Average</h1>
                        </div>
                        <p>251.253.23</p>
                        <p><span class="color_data">+18.7</span> (0.75%)</p>

                    </div>

                    <div class="data_row after_2">
                        <div class="dtat_text">
                            <h1>DJI</h1>
                            <h1>Dow Jones Industrial Average</h1>
                        </div>
                        <p>251.253.23</p>
                        <p><span class="color_data">+18.7</span> (0.75%)</p>

                    </div>

                    <div class="data_row after_3">
                        <div class="dtat_text">
                            <h1>DJI</h1>
                            <h1>Dow Jones Industrial Average</h1>
                        </div>
                        <p>251.253.23</p>
                        <p><span class="color_data">+18.7</span> (0.75%)</p>

                    </div>

                    <div class="market_row">
                        <p>6.00%</p>
                        <div class="row_line">

                        </div>
                    </div>
                    </div>
                    </div>
                    <div class="col-md-4">
                         <div class="right_section">
                                <div class="data_row data_row2">
                                    <div class="dtat_text">
                                        <h1>DJI</h1>
                                        <p>Dow Jones Industrial Average</p>
                                    </div>
                                    <div>
                                   <h1 class="text_no">251.253.23</h1>
                                    <p><span class="color_data">+18.7</span> (0.75%)</p>
                                 </div>
                                </div>
            
                                <div class="data_row data_row2">
                                    <div class="dtat_text">
                                        <h1>DJI</h1>
                                        <p>Dow Jones Industrial Average</p>
                                    </div>
                                    <div>
                                        <h1>251.253.23</h1>
                                         <p><span class="color_data">+18.7</span> (0.75%)</p>
                                      </div>
                                </div>
            
                                <div class="data_row data_row2">
                                    <div class="dtat_text">
                                        <h1>DJI</h1>
                                        <p>Dow Jones Industrial Average</p>
                                    </div>
                                    <div>
                                        <h1>251.253.23</h1>
                                         <p><span class="color_data">+18.7</span> (0.75%)</p>
                                      </div>
                                </div>

                                <div class="data_row data_row2">
                                    <div class="dtat_text">
                                        <h1>DJI</h1>
                                        <p>Dow Jones Industrial Average</p>
                                    </div>
                                    <div>
                                        <h1>251.253.23</h1>
                                         <p><span class="color_data">+18.7</span> (0.75%)</p>
                                      </div>
                                </div>

                                <div class="data_row data_row2 border_box">
                                    <div class="dtat_text">
                                        <h1>DJI</h1>
                                        <p>Dow Jones Industrial Average</p>
                                    </div>
                                    <div>
                                        <h1>251.253.23</h1>
                                         <p><span class="color_data">+18.7</span> (0.75%)</p>
                                      </div>
                                </div>
            
                               
                            </div>
                    </div>
                </div>

                </div>
                </div>

                <div class="section_4">
                    <div class="layout_4">
                        <div class="row">
                        <div class="col-md-5">
                         <div class="stock">
                          <img src="assets/img/tading_image.png">
                         </div>
                        </div>
                        <div class="col-md-7">
                            <div class="stock2">
                             <h1><span class="color_s">Becomes</span> trusted of the world best stock brokers</h1>
                         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                          
                            <div class="rate_div">
                                <div class="rate_text">
                                    <h2>20+</h2>
                                    <p>Years Experience</p>
                                </div>
                                <div class="rate_text rate_text2">
                                    <h2>20+</h2>
                                    <p>Years Experience</p>
                                </div>
                            </div>
                            <div class="rate_div">
                                <div class="rate_text"> 
                                    <h2>20+</h2>
                                    <p>Years Experience</p>
                                </div>
                                <div class="rate_text rate_text2">
                                    <h2>20+</h2>
                                    <p>Years Experience</p>
                                </div>
                            </div>
                        </div>
                        </div>
                            </div>
                            </div>
                            </div>
    </div>
</div>








<!-- <div class="main_home">
    <div class="section1">
        <div class="row1">
        <div class="container">
        <div class="row mx-0">
            <div class="col-md-6">
                <h1>Engineers Meet</h1>
                <h1 class="h1_text">Traders __</h1>
                <p>Advanced crypto algorithmic trading and efficient cross-chain execution, at scale.</p>
           
           <button class="btn btn-primary trade_btn">TRADE NOW</button>
            </div>
            <div class="col-md-6">
                <section class="hero-section" id="home">
                    <div class="hero-section-slider">
                   <div class="slider_img">
                       
                   </div>
                    </div>
                  </section>
            </div>
        </div>
        </div>
        </div>

        <div class="section2">
            <div class="row2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="layout1">
                                <p>Forex Trading</p>
                                <h1>The Ultimate Gateway to <span class="Trading_text">Trading </span> Success</h1>
                            </div>
                            <div class="row">
                                <div class="col-md-4 mb-3">
                            <div class="layout_box">
                                <div class="text_box">
                                    <div class="left_class">
                                           <h1> What is forex trading?</h1> 
                                           <p>Demoralized by the charms of pleasure the moment blinded by desired that they cannot foresee ...</p>        
                               </div>
                               <div>
                                   <p class="more_icon"><i class="fa fa-arrow-right" aria-hidden="true"></i>More</p>
                               </div>
                                        </div>
                                <div class="text_box2">
                                    <p><span class="span_dote">*</span> Harum quidem rerum facilis.</p>
                                </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="layout_box mb-3">
                                    <div class="text_box">
                                        <div class="left_class">
                                               <h1> What is forex trading?</h1> 
                                               <p>Demoralized by the charms of pleasure the moment blinded by desired that they cannot foresee ...</p>        
                                   </div>
                                   <div>
                                       <p class="more_icon"><i class="fa fa-arrow-right" aria-hidden="true"></i>More</p>
                                   </div>
                                            </div>
                                    <div class="text_box2">
                                        <p><span class="span_dote">*</span> Harum quidem rerum facilis.</p>
                                    </div>
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <div class="layout_box">
                                        <div class="text_box">
                                            <div class="left_class">
                                                   <h1> What is forex trading?</h1> 
                                                   <p>Demoralized by the charms of pleasure the moment blinded by desired that they cannot foresee ...</p>        
                                       </div>
                                       <div>
                                           <p class="more_icon"><i class="fa fa-arrow-right" aria-hidden="true"></i>More</p>
                                       </div>
                                                </div>
                                        <div class="text_box2">
                                            <p><span class="span_dote">*</span> Harum quidem rerum facilis.</p>
                                        </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 text-center">
                                        <button class="btn btn-primary trade_btn">TRADE NOW</button>
                                    </div>
                            </div>
                       
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section3">
            <div class="row3">
                <div class="container">
                    <div class="row">
                    <div class="col-md-12">
                        <div class="heading_layout">
                           <p> New Trading </p>
                            <h1>Global Technologies</h1>
                        </div>
                    </div>
                   <div class="col-md-6">
                    <div class="right_class">
                    <h1>The future of trading platform</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <a href="#" class="learn_more">
                            Learn more
                        </a>
                </div>
                   </div>
                   <div class="col-md-6">
                       <div class="map_img">

                       </div>
                       </div>
                   </div>
                    </div>
                    </div>
                    </div>


                    <div class="section4">
                        <div class="row4">
                            <div class="container">

                            <div class="row">
                            <div class="col-md-6">
                            <div class="image_tading">
                                <div class="image_background">

                                </div>
                            </div>
                            </div>
                            <div class="col-md-6">
                                <div class="left_row">
                                    <h1>Experienced Trading <span class="span_text">Platform </span> To Grow</h1>
                                    <div class="list_text">
                                        <div>
                                        <img src="/assets/img/1-dark.png" class="img_icoons">
                                        </div>
                                        <div class="icon-text">
                                         <h1>Easy To Lend</h1>
                                         <p>It's easy to lend a helping hand to those in need, especially when we all stick together.</p>
                                        </div>
                                    </div>
                                    <div class="list_text">
                                        <div>
                                        <img src="/assets/img/1-dark.png" class="img_icoons">
                                        </div>
                                        <div class="icon-text">
                                         <h1>Easy To Lend</h1>
                                         <p>It's easy to lend a helping hand to those in need, especially when we all stick together.</p>
                                        </div>
                                    </div>
                                    <div class="list_text">
                                        <div>
                                        <img src="/assets/img/1-dark.png" class="img_icoons">
                                        </div>
                                        <div class="icon-text">
                                         <h1>Easy To Lend</h1>
                                         <p>It's easy to lend a helping hand to those in need, especially when we all stick together.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                             </div>
                          </div>
                                </div>
                                </div>


                                <div class="section5">
                                    <div class="row5">
                                        <div class="container"> 
                                            <div class="row_layout">
                                            <div class="row">
                                           
                                               <div class="col-md-3">
                                                   <div class="class_active">
                                                       <h1>$ BILLIONS</h1>
                                                       <p>In Traded Volume</p>
                                                   </div>
                                               </div>
                                               <div class="col-md-3">
                                                <div class="class_active">
                                                    <h1>$ BILLIONS</h1>
                                                    <p>In Traded Volume</p>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="class_active">
                                                    <h1>$ BILLIONS</h1>
                                                    <p>In Traded Volume</p>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="class_active">
                                                    <h1>$ BILLIONS</h1>
                                                    <p>In Traded Volume</p>
                                                </div>
                                            </div>
                                        </div>
                                           </div>
                                            </div>
                                              </div>
                                            </div>


                                            <div class="section6">
                                                <div class="row6">
                                                    <div class="container"> 
                                                        <div class="row_layout2">
                                                        <h1>Packed With <span class="h1_text">Features </span> </h1>
                                                        <p>The only crypto trading system with visual point-and-click, command line (CLI) interface and advanced order types all in one. Insilico Terminal is a high performance, uniform trading experience no matter how or where you trade.</p>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-3 mb-3">
                                                                <div class="layout_boxs">
                                                                    <img src="/assets/img/4-dark.png">
                                                                    <p>All of your accounts through a single interface, catch the move fast and at the right venue</p>
                                                                </div>
                                                                </div>

                                                                <div class="col-md-3 mb-3">
                                                                    <div class="layout_boxs">
                                                                        <img src="/assets/img/5-dark.png">
                                                                        <p>All of your accounts through a single interface, catch the move fast and at the right venue</p>
                                                                    </div>
                                                                    </div>

                                                                    <div class="col-md-3 mb-3">
                                                                        <div class="layout_boxs">
                                                                            <img src="/assets/img/6-dark.png">
                                                                            <p>All of your accounts through a single interface, catch the move fast and at the right venue</p>
                                                                        </div>
                                                                        </div>

                                                                        <div class="col-md-3 mb-3">
                                                                            <div class="layout_boxs">
                                                                                <img src="/assets/img/7-dark.png">
                                                                                <p>All of your accounts through a single interface, catch the move fast and at the right venue</p>
                                                                            </div>
                                                                            </div>
                                                            </div>
                                                            </div>
                                                            </div>
                                                            </div>


    </div>
</div> -->